{{template "header.html"}}

<div class="px-3 py-2 bg-secondary text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <h2 href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                <svg class="bi d-block mx-auto mb-1 " width="24" height="24"></svg>
                {{.title}}
            </h2>
            <a type="button" class="btn btn-danger filled" href="/dealer" class="nav-link text-white">
                Back to dealer dashboard
            </a>
            <a type="button" class="btn btn-danger filled marginLeft" href="/" class="nav-link text-white">
                Logout
            </a>
        </div>
    </div>
</div>
</br>
<div class="row">
    <div class="table-container">
        <table class="table" style="width:100%">
            <thead id="colored-table">
                <th>Order Id</th>
                <th>Make</th>
                <th>Model</th>
                <th>Color</th>
                <th>Dealer Name</th>
                <th>AssetType</th>
                <th></th>

            </thead>
            <tbody>
                {{range .orderList}}
                <tr>
                    <td>{{.OrderID}}</td>
                    <td>{{.Make}}</td>
                    <td>{{.Model}}</td>
                    <td>{{.Color}}</td>
                    <td>{{.DealerName}}</td>
                    <td>{{.AssetType}}</td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
</div>
</div>
{{template "footer.html"}}